#!/usr/bin/bash

useradd ansible -d /home/ansible -G users,wheel -m -N
echo 'ansible ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/ansible

chown -R root:root /root/.ssh/
chown -R ansible:ansible /home/ansible/.ssh/
chmod -R 600 /root/.ssh/ /home/ansible/.ssh/

dnf -y install openssh-server firewalld

systemctl daemon-reload
systemctl set-default multi-user.target
systemctl enable firewalld sshd
systemctl start firewalld sshd

firewall-cmd --set-default-zone drop
firewall-cmd --permanent --zone external --remove-service ssh
firewall-cmd --permanent --zone external --add-interface eth0

firewall-cmd --permanent --zone trusted --add-service ssh
firewall-cmd --permanent --zone trusted --add-interface eth1

firewall-cmd --reload
