$TTL 2d

$ORIGIN {{ domain }}.

@                   IN      SOA     ns.{{ domain }}.   info.{{ domain }}. (
                                    {{ serial }}          ; serial
                                    12h                 ; refresh
                                    15m                 ; retry
                                    3w                  ; expire
                                    2h                  ; minimum ttl
                                    )

                    IN      NS      ns.{{ domain }}.

ns                  IN      A       {{ public_ip }}

*                   IN      A       {{ public_ip }}
