$TTL 2d

$ORIGIN {{ domain }}.

@                   IN      SOA     {{ ns_name }}.{{ domain }}.   info.{{ domain }}. (
                                    {{ serial }}          ; serial
                                    12h                 ; refresh
                                    15m                 ; retry
                                    3w                  ; expire
                                    2h                  ; minimum ttl
                                    )

                    IN      NS      {{ ns_name }}.{{ domain }}.

{{ ns_name }}       IN      A       {{ ansible_host }}

; -- hosts

{% for item in servers %}
{{ item.ns_name }}  IN      A       {{ item.ansible_host }}
{% endfor %}

; -- containers

{% for item in containers %}
{% if item.ns_name != ns_name %}
{{ item.ns_name }}  IN      A       {{ item.ansible_host }}
{% endif %}
{% endfor %}
