$TTL 2d

$ORIGIN {{ domain_name }}.

@                   IN      SOA     ns.{{ domain_name }}.   info.{{ domain_name }}. (
                                    {{ serial_num }}          ; serial
                                    12h                 ; refresh
                                    15m                 ; retry
                                    3w                  ; expire
                                    2h                  ; minimum ttl
                                    )

                    IN      NS      ns.{{ domain_name }}.

ns                  IN      A       {{ ansible_host }}

; -- hosts

{% for item in dns_servers %}
{{ item.hostname }}  IN      A       {{ item.ansible_host }}
{% endfor %}

; -- container rules

{% for item in dns_containers %}
{% if 'dns_list' in item %}
{% for item2 in item.dns_list %}
{{ item2 }}
{% endfor %}
{% endif %}
{% endfor %}
