2
/var/lib/semaphore/database.boltdb
/var/lib/semaphore/playbooks

no
no
no
no
no
no
{{ semaphore_config.auth_username }}
{{ semaphore_config.auth_email }}
{{ semaphore_config.auth_name }}
{{ semaphore_config.auth_password }}
